<a href="https://colab.research.google.com/github/anvitank/Basics-of-Python/blob/main/Practical_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Name: Anvi Singh Tank
##PRN: 25070123019
##Batch: ENTC A1
##Expt 1

In [ ]:
# First Program
print("I am Learning Python")

I am Learning Python

In [ ]:
print('I am at Symbiosis')

I am at Symbiosis

In [1]:
a="Hello"
print(a)

Hello

In [2]:
#Many Statements
print("Hello"); print("How are you?"); print("bye")

Hello
How are you?
bye

In [4]:
print("Anvi"); print("Tank")

Anvi
Tank

In [7]:
print("Anvi", end=" ")
print("Tank")

Anvi Tank

In [8]:
# Print Numbers
print(3)
b=10
print(b)

3
10

In [9]:
# Variables
x= 7
y= "heyy"
print(x)
print(y)

7
heyy

In [10]:
# Case Sensitive
a=8
A="Rohan"
print(a)
print(A)

8
Rohan

In [11]:
# Multiple Values to Multiple Variables
a, b, c = "Apple", "Samsung", "Lenovo"
print(a); print(b); print(c)

Apple
Samsung
Lenovo

In [12]:
a= 7
b= 5
print("Addition=",a+b)
print("Subtraction=",a-b)
print("Multiplication=",a*b)
print("Division=",a/b)
print("Modulus=",a%b)

Addition= 12
Subtraction= 2
Multiplication= 35
Division= 1.4
Modulus= 2

In [27]:
# Understanding Data Types
x = 10
y = 3.14
z = "Python"
flag = True
c= 3+2j

print(type(x))
print(type(y))
print(type(z))
print(type(flag))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [16]:
name= input("Enter your name:")
print("hello", name)

Enter your name:Anvi
hello Anvi

In [19]:
#Simple Calculator
a=int(input("enter a no."))
b=int(input("enter another no."))

func=input("Enter Function to be performed")

if func=="Add":
  print(a+b)
if func=="Subtract":
  print(a-b)
if func=="Multiply":
  print(a*b)
if func=="Division":
  print(a/b)

enter a no.6
enter another no.7
Enter Function to be performedMultiply
42

In [20]:
#Total And Avg Marks
mat=int(input("Enter Maths Marks:"))
eng=int(input("Enter English Marks:"))
phy=int(input("Enter Physics Marks:"))
bio=int(input("Enter Bio Marks:"))
chem=int(input("Enter Chemistry Marks:"))

total = mat + eng + phy + bio + chem
avg= total / 5

print("The total marks are", total)
print("The average marks are", avg)

Enter Maths Marks:95
Enter English Marks:98
Enter Physics Marks:96
Enter Bio Marks:95
Enter Chemistry Marks:97
The total marks are 481
The average marks are 96.2

In [22]:
#Area of rectangle
l=int(input("Enter Length:"))
b=int(input("Enter Breadth:"))
area=l*b
print("The area of rectangle is",area)

Enter Length:5
Enter Breadth:8
The area of rectangle is 40

In [25]:
#Area of Circle
r=int(input("Enter Radius:"))
area= 3.14 * r**2
print("The area of circle is", area)

Enter Radius:6
The area of circle is 113.04

In [24]:
#Appending Arrays
A=(3,4,5)+(6,7,8)
print(A)

(3, 4, 5, 6, 7, 8)